@model Global_College.domain.Models.Administrator.FacultyProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faculty Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Personal Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">System Email</dt>
        <dd class="col-sm-9">@Model.SystemEmail</dd>

        <dt class="col-sm-3">System Password</dt>
        <dd class="col-sm-9">@Model.SystemPassword</dd>

        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.Phone</dd>

        <dt class="col-sm-3">Faculty Number</dt>
        <dd class="col-sm-9">@Model.FacultyNumber</dd>

        <dt class="col-sm-3">Identity User ID</dt>
        <dd class="col-sm-9">@Model.IdentityUserId</dd>
    </dl>

    <h5>Assigned Courses</h5>
    <ul>
        @foreach (var item in Model.FacultyCourseAssignments)
        {
            <li>@item.BranchCourse?.Course?.Name</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>