@model Global_College.domain.Models.Administrator.FacultyProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faculty Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">System Email</dt>
        <dd class="col-sm-10">@Model.SystemEmail</dd>
    </dl>

    <h5>Assigned Courses</h5>
    <ul>
        @foreach (var item in Model.FacultyCourseAssignments)
        {
            <li>@item.BranchCourse?.Course?.Name</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>