@model Global_College.domain.Models.Faculty.AssignmentResult

@{
    ViewData["Title"] = "Assignment Result Details";
}

<h1>Details</h1>

<div>
    <h4>AssignmentResult</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Score
        </dt>
        <dd class="col-sm-10">
            @Model.Score
        </dd>

        <dt class="col-sm-2">
            Grade
        </dt>
        <dd class="col-sm-10">
            @(Model.Grade + "%")
        </dd>

        <dt class="col-sm-2">
            Feedback
        </dt>
        <dd class="col-sm-10">
            @Model.Feedback
        </dd>

        <dt class="col-sm-2">
            Student
        </dt>
        <dd class="col-sm-10">
            @Model.StudentProfile?.FullName
        </dd>

        <dt class="col-sm-2">
            Assignment
        </dt>
        <dd class="col-sm-10">
            @Model.Assignment?.Title
        </dd>

        <dt class="col-sm-2">
            Class Code
        </dt>
        <dd class="col-sm-10">
            @Model.Assignment?.BranchCourse?.ClassCode
        </dd>

        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @Model.Assignment?.BranchCourse?.Course?.Name
        </dd>

        <dt class="col-sm-2">
            Branch
        </dt>
        <dd class="col-sm-10">
            @Model.Assignment?.BranchCourse?.Branch?.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Assignments" asp-action="Details" asp-route-id="@Model?.AssignmentId">Back to Assignment</a> |
    <a asp-action="Index" asp-route-assignmentId="@Model?.AssignmentId">Back to List</a>
</div>